.container {
    max-width: 130rem;
    margin: 0 auto;
    box-shadow: $shadow-dark;
    background-color: $color-white;
    overflow-x: hidden;
}

.header {
    height: 100vh;
    height: calc(var(--vh, 1vh) *100);
    width: 100%;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    

    &__text {
        position: absolute;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: $color-white;
        background-color: rgba($color-grey-dark-2, 0.9);
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
        padding: 3rem 0;
        line-height: 1.8;
        animation: moveInTop 1s ease-out;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
            padding: 2rem;
            line-height: 1.5;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
            padding: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.5rem;
        }
    } 
}

.menu {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem 0;
    width: 100%;

    &__items {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 20%;

        @media only screen and (max-width: $bp-medium) {
            width: 25%;
        }

        @media only screen and (max-width: $bp-small) {
            width: 32%;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 40%;
        }
    }

    &__link {
        &, &:link, &:visited {
            display: block;
            color: $color-grey-light-1;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 2px;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            padding: 2rem 1rem;
            border: 1.2rem solid rgba($color-grey-dark-2, 0.9);
            border-radius: 4rem;
            transition: all .2s ease-in;
            box-sizing: border-box;

            @media only screen and (max-width: $bp-medium) {
                font-size: 1.8rem;
                border: 1rem solid rgba($color-grey-dark-2, 0.9);
            }

            @media only screen and (max-width: $bp-small) {
                font-size: 1.5rem;
                border: .8rem solid rgba($color-grey-dark-2, 0.9);
            }

            @media only screen and (max-width: $bp-smallest) {
                font-size: 1.2rem;
                border: .7rem solid rgba($color-grey-dark-2, 0.9);
            }
        }

        &--ekstraleague {
            animation: moveInLeft 1s ease-out;
        }

        &--firstleague {
            animation: moveInBottom 1s ease-out;

            @media only screen and (max-width: $bp-smallest) {
                animation: moveInRight 1s ease-out;
            }
        }

        &--gp {
            animation: moveInRight 1s ease-out;

            @media only screen and (max-width: $bp-smallest) {
                margin-top: 1rem;
                animation: moveInBottom 1s ease-out;
            }
        }

        &:hover {
            color: $color-white;
            box-shadow: $shadow-dark-small;
            transform: scale(1.02);
        }
    }
}

.generator {

    background-color: $color-white;
    
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8rem 2rem;
        font-size: 3rem;
        text-align: center;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        letter-spacing: .3rem;
        line-height: 1.5;

        @media only screen and (max-width: $bp-large) {
            font-size: 2.8rem;
            padding: 6rem 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
            padding: 4rem 1.5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.6rem;
            padding: 4rem 1.5rem;
        }
    }

    &__btn {
        text-align: center;
        display: block;
        margin: 6rem auto;
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        border: none;
        border-radius: 4rem;
        padding: 3rem 5rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.3rem;
        color: $color-grey-light-1;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        transition: all .2s ease-in;
        transform: scale(1);
        outline: none;
        cursor: pointer;

        @media only screen and (max-width: $bp-medium) {
            color: $color-white;
            font-size: 1.5rem;
            padding: 2rem 3rem;
            margin: 4rem auto;
        }

        @media only screen and (max-width: $bp-small) {
            color: $color-white;
            font-size: 1.3rem;
            padding: 2rem 2.5rem;
            margin: 3rem auto;
        }


        &:hover {
            color: $color-white;
            box-shadow: $shadow-dark-small;
            transform: scale(1.02);
        }
    }
}

.teams {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.team {
    width: 50%;

    @media only screen and (max-width: $bp-medium) {
        width: 100%;
    }
    

    &__info {
        padding: 5rem 0 8rem;
        background-image: linear-gradient(rgba($color-grey-dark-2, .9), rgba($color-grey-dark-2, .95)), url(../images/race.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        @media only screen and (max-width: $bp-small) {
            padding: 2rem 0 5rem;
        }
    }

    &__name {
        font-size: 3rem;
        letter-spacing: .5rem;
        text-transform: uppercase;
        color: $color-grey-light-1;
        font-weight: bold;
        padding: 3rem 0;

        @media only screen and (max-width: $bp-large) {
            font-size: 2.7rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        }
    }

    &__input {
        display: inline-block;
        width: 70%;
        padding: 2rem 1rem;

        font-family: 'Montserrat', sans-serif;
        color: $color-primary-dark;
        text-align: center;
        font-size: 2.5rem;
        border: 3px solid transparent;
        border-radius: 5rem;

        transition: all .2s ease-in;

        @media only screen and (max-width: $bp-large) {
            width: 80%;
            font-size: 2.2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 60%;
            font-size: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 80%;
            font-size: 1.8rem;
            padding: 1rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.6rem;
        }

        &:focus {
            outline: none;
            box-shadow: $shadow-dark-small;
            border: 3px solid $color-primary-light;
        }

        &::placeholder {
            color: rgba($color-grey-dark-1, .3);
            font-size: 2.5rem;

            @media only screen and (max-width: $bp-large) {
                font-size: 2.2rem;
            }
    
            @media only screen and (max-width: $bp-medium) {
                font-size: 2rem;
            }
    
            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
            }
    
            @media only screen and (max-width: $bp-smallest) {
                font-size: 1.6rem;
            }
        }
    }

    &__riders {
        padding: 8rem 0;
        background-color: $color-grey-light-3;

        @media only screen and (max-width: $bp-large) {
            padding: 6rem 0;
        }

        @media only screen and (max-width: $bp-medium) {
            padding: 5rem 0;
        }

        @media only screen and (max-width: $bp-small) {
            padding: 3.5rem 0;
        }

    }

    &__riders, &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.team__rider {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 1.5rem;

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 1.2rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-bottom: 1rem;
        }
    }

    &__input {
        display: block;
        width: 60%;
        padding: 2rem 3rem;
        margin: 0 auto;    
        font-size: 2.3rem;
        font-family: 'Montserrat', sans-serif;
        color: $color-grey-dark-2;
        border: 2px solid $color-grey-light-2;
        transition: all .2s ease-in;

        @media only screen and (max-width: $bp-large) {
            width: 70%;
            padding: 1.8rem 3rem;
            font-size: 2rem;
        }

        
        @media only screen and (max-width: $bp-medium) {
            font-size: 1.8rem;
            text-align: center;
            width: 60%;
            padding: 1.5rem 3rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.6rem;
            width: 70%;
            padding: 1.3rem 3rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.4rem;
            width: 70%;
            padding: 1rem 3rem;
        }


        &:focus {
            outline: none;
            box-shadow: $shadow-dark-small;
            border: 2px solid $color-primary-dark;
        }

        &::placeholder {
            color: rgba($color-grey-dark-1, .5);
            font-size: 2rem;

            @media only screen and (max-width: $bp-medium) {
                font-size: 1.8rem;
            }

            @media only screen and (max-width: $bp-small) {
                font-size: 1.6rem;
            }

            @media only screen and (max-width: $bp-smallest) {
                font-size: 1.4rem;
            }
        }

    }

    &__label {
        font-size: 1.5rem;
        display: block;
        color: $color-primary-dark;
        font-weight: bold;
        margin-top: .8rem;
        text-align: center;
        transition: all .3s;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.3rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.2rem;
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

}

.legal {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: .2rem;
        color: $color-grey-light-1;
        background-color: rgba($color-grey-dark-2, .95);
        padding: 3rem 0;
        line-height: 1.6;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.3rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.2rem;
            padding: 2rem;
        }

        .author {
            color: $color-primary-light;
        }
}